#color-palette {
    display: table;
}

.color {
    display: table-cell;
    border: 1px solid rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    margin: 1px;
}

.color1 {
   background-color: rgb(0, 0, 0);
}

.color2 {
    background-color: red;
}

.color3 {
    background-color: green;
}

.color4 {
    background-color: blue;
}

#pixel-board {
    display: table;
}

.row {
    display: table-row;
}

.pixel {
    display: table-cell;
    width: 40px;
    height: 40px;
    margin: 1px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
}
