a {
    text-decoration: none; cursor: pointer;
}

a:hover {
    color:  #047248;
}

#Rising {
    text-align: center; color: white;
    font-weight: 5vh;
    font-size: 3vh;
    font-weight: 300;
    font-family: Apple Chancery, cursive
    
}

header {
    background-color: #0fa36b;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #047248;
    z-index: 9; 
}

header nav{
    display: flex;
    list-style-type: none;
}

header li a {
    color: white;
    margin: 0 15px;
    font-size: 3vh;
    font-weight: 300;
    font-family: Georgia,  serif;
}

header img{
    padding-top: 5px;
    width: 125px;
    padding-left: 10px;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

footer ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    color: #0fa36b;
}

footer ul li a {
    margin-right: 25px;
    color: #0fa36b;
    font-size: 3rem;
}

body{
    padding-top: 100px;
    padding-left: 50px;
   
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    height: auto;
	margin: 0 auto;
    align-items: center;
}

.container-1 {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    height: auto;
	margin: 0 auto;
    align-items: center;
}


.item {
    max-width: auto;
    text-align: center;
    flex-grow: 1;
}

.item-1 {
    width: 450px;
    height: 450px;
    position: relative;
    margin: 0 auto;
    padding-top: 75px;
}

.item-2 {
    flex-direction: row;
    max-width: auto;
    padding-right: 50px;
    text-align: center;
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.item-2 img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.item-2 img:hover {
    width: 200px;
    height: 200px;
    opacity: 0.9;
    border-color: black;
}


.memeImage {
    background-color: #0fa36b;
    margin: 10px 5px;
    padding: 5px;
    position: relative;
}

.editImage {
    background-color: rgba(255, 255, 255, 1);
    height: 400px;
    width: 400px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    position: absolute;
}

.memeText {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 395px;
    font-family: Arial;
    font-size: 35Px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 black,
      -2px -2px 0 black,
      2px -2px 0 black,
      -2px 2px 0 black,
      0px 2px 0 black,
      2px 0px 0 black,
      0px -2px 0 black,
      -2px 0px 0 black,
      2px 2px 5px black;
    word-break: break-all;
    top:75px;
    padding-left: 5px;
}


.memeTextDown {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 395px;
    font-family: Arial;
    font-size: 35Px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 black,
      -2px -2px 0 black,
      2px -2px 0 black,
      -2px 2px 0 black,
      0px 2px 0 black,
      2px 0px 0 black,
      0px -2px 0 black,
      -2px 0px 0 black,
      2px 2px 5px black;
    word-break: break-all;
    bottom: 50px; 
    padding-left: 5px;
}


@media (max-width: 700px){
    header{flex-direction: column; margin-bottom: 25px;}
    .container {
        display: block;
    }
    .container-1 {
        flex-direction: column;
        height: auto;
        margin: 0 auto;
        align-items: center;
    }
    .item-1 {
        width: 450px;
        height: 450px;
        position: relative;
        margin: 0 auto;
        
    }
    .logoImage {
        width: 300px;
        margin: 0 auto;
        
    }
    .item-2 {
        flex-direction: column;
        flex-grow: 1;
        list-style-type: none;
        display: block;
        justify-content: space-between;
        padding-right: 50px;
        position: relative;
    }
    footer p {
        display: none;
    }

}

