body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  border-bottom: 2px solid black;
  font-family: 'Courier New', Courier, monospace;
  margin: 50px;
}

footer {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin: 50px;
}

table {
  border-spacing: 0;
  margin: 0;
  margin: auto;
  padding: 0;
}

td {
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

button {
  background-color: black;
  border-color: white;
  color: white;
  font-weight: 900;
  padding: 5px;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin-bottom: 20px;
  width: 40px;
}

.black {
  background-color: black;
}

.cor1 {
  background-color: magenta;
}

.cor2 {
  background-color: cyan;
}

.cor3 {
  background-color: yellow;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}
