#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110px;
    text-align: center;
    margin: 0;
}
body {
}
#pixel-board td {
    border: black solid 1px;
    padding: 0.5rem 0.5rem;
}
#color-palette {
    display: flex;
    justify-content: center;
    
}
.color {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 5px;
    display: inline-block;
}
#color-palette1 {
    background-color: black;
}
#color-palette2 {
    background-color: rgb(23, 175, 69);
}
#color-palette3 {
    background-color: rgb(206, 46, 46);
}
#color-palette4 {
    background-color: rgb(4, 53, 101);
}
#pixel-board {
    border: black solid 1px;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
    margin-top: 5px;
}
#pixel-board td {
    border: black solid 1px;
    background: white;
}
td {
    width: 40px;
    height: 40px;
}
#botoes {
    padding-left: 485px;
}
.selecao {
    padding-left: 525px;
}
#mostraSelecao {
    width: 280px;
    height: 80px;
    border-style: inset;
    border-width: 1px;
    text-align: center;
    background: black;
    box-shadow: 0em 0.1em 0.1em black;
}
#corSelecionada {
    background: white;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}
#clear-board {
    width: 280px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 15px;
    margin-left: 525px;
    box-shadow: 0em 0.1em 0.1em black;
}