main {
    padding-top: 100px;
}

/* Cabeçalho + Rodapé */
a {
    text-decoration: none; cursor: pointer;
}

a:hover {
    color:  #047248;
}

header {
    background-color: #0fa36b;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #047248;
    z-index: 9; 
}

header nav{
    display: flex;
    list-style-type: none;
}

header li a {
    color: white;
    margin: 0 15px;
    font-size: 3vh;
    font-weight: 300;
    font-family: Georgia,  serif;
}

header img{
    padding-top: 5px;
    width: 125px;
    padding-left: 10px;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

footer ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    color: #0fa36b;
}

footer ul li a {
    margin-right: 25px;
    color: #0fa36b;
    font-size: 3rem;
}



table {
    border-spacing: 0;
}
  
input {
    font-size: 20px;
    height: 2em;
    margin: 5px;
    border-bottom: 2px solid rgb(5, 73, 5);
}

.button:hover {
    font-size: 20px;
    height: 2em;
    margin: 5px;
    opacity: 0.8;
    background-color: rgb(46, 121, 78);
}
  
.color {
    border: 1px solid black;
    height: 50px;
    width: 50px;

}
  
.color:hover {
    border: 1px solid rgb(46, 121, 78);
    height: 50px;
    width: 50px;
    opacity: 0.8;
    border-radius: 15%;
}

#tools:hover {
    opacity: 0.5;
}

.paleta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}
  
.pixel_board {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    width: 1200px;
}

.pixel {
    background-color: white;
    border: 1px solid black;
    height: 25px;
    width: 25px;
}
  
