*{
    margin: 0;
    padding: 0;
}

.color{
    width: 40px;
    height: 40px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.pixel{
    width: 40px;
    height: 40px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.cor1{
    background-color: black;
}

.cor2{
    background-color: red;
}

.cor3{
    background-color: blue;
}

.cor4{
    background-color: green;
}
