* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1 {
  margin-left: 0.5em;
}

.paleta {
  clear: right;
  float: left;
  margin-bottom: 1em;
  margin-left: 1em;
}

.color {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  height: 40px;
  width: 40px;
}

.tabela {
  border-collapse: collapse;
  clear: left;
  margin-left: 1em;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.selected {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.botao {
  margin-left: 1em;
  margin-top: 1em;
}
