body {
  background-color: peachpuff;
}
.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.black {
  background-color: black;
}
.color2 {
  background-color: red;
}
.color3 {
  background-color: blue;
}
.color4 {
  background-color: gold;
}
.pixel-board {
  background-color: black;
  border-spacing: 1px;
  display: table;
}
.pixel{
  background-color: white;
  border: 1px solid black;
  display: table-cell;
  height: 40px;
  width: 40px;
}
