body, html{
    margin:0px;
    padding: 0px;
}

div{
    display: inline-block;
    border: 1px solid black;
  }

.color{
    width: 40px;
    height: 40px;
}
  
  .pixel{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
  }
  
  #pixel-board{
    display: table;
  }
  
  #black {
    background-color: black;
  }
  
  #red {
    background-color: red;
  }
  
  #blue {
   background-color: blue;
  }
  
  #green {
    background-color: green;
  }