body {
  margin: 0;
  padding: 0;
}
.color {
  border-style: solid;
  border-width: 1px;
  height: 40px;
  width: 40px;
}
.cor1 {
  background-color: black;
}
.cor2 {
  background-color: red;
}
.cor3 {
  background-color: orange;
}
.cor4 {
  background-color: yellow;
}
.selected {
  outline: 2px solid greenyellow;
}
.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}
.container-buttons {
  text-align: center;
}
h1 {
  background-color: cyan;
  font-family: "Dancing Script", cursive;
  text-align: center;
  text-decoration: crimson;
}
table {
  border-spacing: 0;
  margin: 0;
  margin: auto;
  padding: 0;
}
td {
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
