*{
  padding: 0;
  margin: 0s;
}

#main-container {
  width: 950px;
  margin: 0 auto;
}

#title {
  text-align: center;
}

#color-palette {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  list-style: none;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#pixel-board {
  width: 200px;
  height: 40px;
  margin: 20px auto;
}

#pixel-board tr{
  display: flex;
  background-color: rgb( 255 , 255 , 255 );
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: rgb( 255 , 255 , 255 );
}

#clear-board {
  display: block;
  margin: 20px auto 0px;
  padding: 10px;
}
