body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

}

#color-palette {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 200px;
  height: 50px;
  background-color: white;
  justify-content: space-around;
  /* margin: 20px; */
}

.selected {
  background-color: black;
}

#black.color {
  background-color: black;
  display: block;
  border: 1px solid rgb(0, 0, 0);
  flex-direction: row;
  width: 30px;
  height: 30px;
}

#red.color {
  background-color: red;
  display: flex;
  border: 1px solid rgb(0, 0, 0);
  flex-direction: row;
  width: 30px;
  height: 30px;
}

#blue.color {
  background-color: blue;
  display: flex;
  border: 1px solid rgb(0, 0, 0);
  flex-direction: row;
  width: 30px;
  height: 30px;
}

#green.color {
  border: 1px solid rgb(0, 0, 0);
  background-color: green;
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
}

#pixel-board {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  height: 200px;


}

.pixel {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255)
}
